
body {

    background-color: darkslateblue;
    font-family: 'Golos Text', sans-serif;

}

#nav {

    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: blueviolet;


}

#nav .loginbtn {

    margin-inline-start: 16px;
    text-decoration: none;
    color: antiquewhite;


}

#hero {

    display: flex;
    margin-block-start: 66px;
    margin-inline: 32px;

}


#heroimg {

    width: 40%;
    height: 1000px;
    margin-inline-end: 64px;

}

#herotext {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: antiquewhite;
    height: 100%;

}

#herotext h1 {

    font-weight: bolder;
    font-size: 50px;

}

#herotext p {

    font-size: large;

}

.herocontent {

    display: flex;
    flex-direction: column;
}

#hero-img2 {

    width: 60%;
    align-self: center;

}

.herocontent:first-child {
    margin-block-end: 130px;
}

#testimonials {

    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

.card {

    display: flex;
    flex-direction: column;
    background-color: mediumslateblue;
    width: 250px;
    height: 370px;
    padding: 20px;
    color: antiquewhite;


}


.testimonial-circle {

    border-radius: 50%;
    width: 100px;
    height: 100px;
    align-self: center;

}